<!DOCTYPE html>
<html>
<head>
  <title>MiboApi</title>
</head>
<body>



  <app-root>Loading...</app-root>

  <script type="text/javascript" src="/ng/dist/inline.bundle.js"></script>
  <script type="text/javascript" src="/ng/dist/polyfills.bundle.js"></script>
  <script type="text/javascript" src="/ng/dist/styles.bundle.js"></script>
  <script type="text/javascript" src="/ng/dist/vendor.bundle.js"></script>
  <script type="text/javascript" src="/ng/dist/main.bundle.js"></script>

</body>
</html>
