<!DOCTYPE html>
<html>
<head>
  <title>MiboApi</title>
  <link href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet" >
</head>

<body>

  <app-root>Loading...</app-root>

  <script type="text/javascript" src="/ng/dist/inline.bundle.js"></script>
  <script type="text/javascript" src="/ng/dist/polyfills.bundle.js"></script>
  <script type="text/javascript" src="/ng/dist/styles.bundle.js"></script>
  <script type="text/javascript" src="/ng/dist/vendor.bundle.js"></script>
  <script type="text/javascript" src="/ng/dist/main.bundle.js"></script>

</body>
</html>
